@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.bodyRelatorio { margin: 0; background-color: #2b2b2b; background-image: url('./img/minecraft-pattern.png'); color: #ffffff; font-family: 'Press Start 2P', cursive; display: flex; flex-direction: column; align-items: center; text-align: center; }
.bodyIndex { background-color: #2b2b2b; margin: 0; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; font-family: 'Press Start 2P', cursive; }

.mainDashbord { display: flex; justify-content: center; align-items: center; width: 80vw; height: 90vh; box-shadow: 0 0 20px rgb(0, 0, 0); border-radius: 20px; overflow: hidden; }

.mainDashbord .cardLeft { background-image: url('./img/background.png'); background-repeat: no-repeat; background-size: cover; width: 50%; height: 100%; border-radius: 20px 0 0 20px;}

.mainDashbord .cardRight { background: #ffffff; height: 100%; width: 50%; border-radius: 0 20px 20px 0; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 40px; color: #333; }
.mainDashbord .cardRight h1 { color: #2e7d32; font-size: 1rem; font-weight: 700; margin-bottom: 20px; text-align: center; }
.mainDashbord .cardRight form { background-color: #f1f8e9; display: flex; flex-direction: column; padding: 20px; border-radius: 12px; width: 100%; max-width: 400px; }
.mainDashbord .cardRight form div:nth-child(1) {display: flex; width: 100%; justify-content: space-between; margin-bottom: 10px;  }
.mainDashbord .cardRight form label { font-size: 10px;}

.mainDashbord .cardRight input[type="number"] { padding: 8px; border-radius: 6px; border: 1px solid #ccc; outline: none; }
.mainDashbord .cardRight .sexo{ display: flex; flex-direction: column; background-color: rgb(255, 255, 255); width: 100%; margin: 0px; padding: 5px; border-radius: 10px; margin-bottom: 2%;}
.mainDashbord .cardRight .sexo label:nth-child(1){ color: rgba(0, 0, 0, 0.518);}
.mainDashbord .cardRight .nota{ display: flex; flex-direction: column; background-color: rgb(255, 255, 255); width: 100%; margin: 0px; padding: 5px; border-radius: 10px;}
.mainDashbord .cardRight .nota label:nth-child(1){ color: rgba(0, 0, 0, 0.518);}

.mainDashbord .cardRight button { background-color: #4CAF50; color: white; padding: 10px; margin-top: 10px; border: none; border-radius: 8px; font-weight: bold; cursor: pointer; transition: background-color 0.3s; }
.mainDashbord .cardRight button:hover { background-color: #388e3c; }
.mainDashbord .cardRight .button { display: flex; align-items: center;}
.mainDashbord .cardRight .button button { margin: 0px; color: #ffffff; background-color: #181818; transition: all 0.2s;}
.mainDashbord .cardRight .button button:hover { filter: opacity(80%);}



/* Relatório */

/* Wrapper pros gráficos lado a lado */
.graficosContainer {
    display: flex;
    justify-content: center; 
    width: 80vw;

}

/* Gráficos menores */
canvas {
    background-color: white;
    width: 50% !important;
    height: auto !important;
    margin: 0px 10px;
}

/* Texto do relatório mais compacto */
#resultadoTexto {
    font-size: 0.55rem;
    line-height: 1.4;
    padding: 15px;
    max-width: 700px;
}



a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px #008f00;
    transition: all 0.2s ease-in-out;
    font-size: 0.6rem;
}

a:hover {
    background-color: #008f00;
    box-shadow: 0 2px #004f00;
    transform: translateY(2px);
}

